[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
awscli = "*"

[packages]
numpy = "*"
cython = "*"
matplotlib = "*"
scipy = "*"
pandas = "*"
pystan = "*"
fbprophet = "*"
tables = "*"
plotly = "*"

[requires]
python_version = "3.7"
